################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerInvoiceManagement/FileContentIndex
*.vsidx
/.vs/CustomerInvoiceManagement/DesignTimeBuild
